export( readFormosatData
      , readMultiFormosatData
      , readMultiSentinelData
      , readMultiSentinelRawData
      , learnGaussian
      , learnFuncSpectra
      , predictGaussianMutSigmat
      , buildConfusionMatrix
      , lnLikelihood
      , criteria
      )


S3method(plot, FuncModel)
S3method(print, FuncModel)
S3method(summary, FuncModel)

exportClasses( ICloHeModel
             , GaussianMutSigmatModel
             , FuncSpectraModel
             )
exportMethods( plot
             , summary
             )
import(rtkore)

importFrom("mvtnorm", "dmvnorm")
importFrom("graphics", "close.screen", "hist", "lines", "par", "screen", "split.screen")
importFrom("methods", "show", "callNextMethod", "new", "validObject")
importFrom("stats", "cov.wt")
importFrom("grDevices", "palette", "rainbow")
importFrom("graphics", "title")
importFrom("utils", "read.csv")

useDynLib(CloHe)
